/* Style pour le corps de la page */
body {
    background-color: #262626;
    font-family: 'Lato', sans-serif;
    color: whitesmoke;
    padding: 0;
    margin: 0 0 50px 0;
}

/* Style pour la bannière de la page */
.banner {
    background-color: #5c5c5c;
    padding: 20px;

    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Style pour le titre de la page */
h1 {
    font-size: 3rem;
    margin: 0 20px;
}
.banner img {
    width: 55px;
}
.banner h1 {
    margin-left: 20px;
}
.banner h3 {
    margin-left: 20px;
    font-style: italic;
}

/* Style pour le sous-titre de la page */
h2 {
    margin-top: 2rem;
    font-size: 2rem;
}

/* Style pour le contenu principal */
.content {
    padding: 20px;
}

/* Style pour les liens de la page */
a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
}

/* Style pour la liste des app */
.applications {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    line-height: 3em;
}

.applications a {
    display: flex;
    align-items: center;
}

.applications a::before {
    content: '•';
    margin-right: 15px;
}

.applications img {
    width: 35px;
    margin-right: 5px;
}

/* Style pour les liens de la page au survol */
a:hover {
    text-decoration: underline;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #4d4d4d24;
    border-radius: 8px;
}
.container p {
    font-size: 18px;
    line-height: 1.5;
    color: whitesmoke;
    margin-top: 20px;
    text-align: justify;
}

/* Style pour le menu de navigation */
.nav {
    background-color: #4d4d4d;
    padding: 0px 20px;
    display: flex;
    align-items: center;
}

/* Style pour les éléments du menu de navigation */
.nav a {
    margin-left: 20px;
    padding: 20px 0px;
}

.nav .back {
    filter: invert(1);
}

/* Style pour les éléments actifs du menu de navigation */
.nav a.active {
    text-decoration: underline;
    cursor: default;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #4d4d4d;
}
footer p {
    padding: 0 20px;
}
