.container h1 {
    margin: 0;
}

.description {
    margin-bottom: 20px;
    font-style: italic;
    color: #a1a1a1;
}

/* */
.thumbnails {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.directory {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    margin: 5px 0;
    padding: 20px;
    background-color: #4d4d4d24;
    border-radius: 8px;
}
.directory-title {
    font-size: 2rem;
}
.directory-content {
    display: flex;
    flex-wrap: wrap;
}

.thumbnail {
    width: calc(50% - 22px);
    max-width: 150px;
    max-height: 150px;
    margin: 10px;

    background-color: #f2f2f2b3;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px #ddd;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.thumbnail:hover {
    box-shadow: 0 0 5px #bbb;
}
.thumbnail a {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.thumbnail a img {
    max-width: 100%;
    max-height: 100%;
}
.thumbnail span {
    max-height: 20px;
    width: 100%;
    padding: 0 auto;
    background-color: #dbdbdb;
}
