.container a {
    width: fit-content;
}

.liens {
    margin: 20px 0 20px 0;
}

.playstore {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.playstore img {
    width: 100px;
    padding: 5px 10px;
    background-color: white;
    border-radius: 10px;
}
.playstore span {
    margin-left: 20px;
}

.discord {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.discord img {
    width: 100px;
    height: 33px;
    padding: 5px 10px;
    background-color: #5865f2;
    border-radius: 10px;
}
.discord span {
    margin-left: 20px;
}
